<div class='col-lg-6 offset-3'>
  <div class='card border-primary'>
    <div class='card-body text-center'>
      <%= inline_svg_tag('authorization.svg', size: '256px * 128px', preserve_aspect_ratio: 'xMaxYMax meet') %>
      <br/>
      &emsp;
      <p>
        <strong>
          Siamo spiacenti.
        </strong>
        <br/>
        La tua utenza non è autorizzata a compiere queste operazioni. <br/>
        Contatta l'amministratore di sistema per ulteriotri informazioni
      </p>
    </div>
  </div>
</div>
