<br/>
&emsp;
<div class='row align-items-center p-3'>
  <div class='col text-center'>
    <%= image_tag('main_logo.svg', class: 'img-fluid') %>
    <br/>
    &emsp;
    <h3 class='text-primary'>
      <strong>Opis</strong>
      <small>next-generation</small>
    </h3>
    <span class='text-primary'>
      applicazione gestionale web per sottoscrizioni e ricevute
    </span>
    <br/>
    &emsp;
    <br/>
    <span class='text-primary'>
      Backend & Frontend <a href='https://rubyonrails.org/' target='_blank'>RubyOnRails</a>
      <br/>
      styling <a href='https://getbootstrap.com/' target='_blank'>Bootstrap</a> iconset <a href='https://fontawesome.com' target='_blank'>FontAwesome</a>
    </span>
    <br/>
    <h4 class='text-primary'>
      Versione 1.0.0
    </h4>
    <br/>
  </div>
  <div class='col text-center'>
    <%= image_tag('logo_davosky_connection.svg', class: 'img-fluid') %>
    <br/>
    <br/>
    The Davosky Connection <br/>
    by
    <br/>
    <strong>
      <a href='mailto:davodavosky@gmail.com'>
        Davo Davodsky
      </a>
    </strong>
    <br/>
    <hr/>
    Consulenza fiscale e organizzativa :
    <br>
    <strong>
      <a href='mailto:supporto.udine@fvg.cgil.it'>
        Cristina Gasparini
      </a>
    </strong>
  </div>
</div>
