<div class='row'>
  <div class='col-12'>
    <h3 class='text-primary p-2'>
      <i class='fas fa-pencil-alt'></i>
      <i class='fas fa-address-card'></i>
      &emsp;
      <strong>
        Modificando la Sottoscrizione INCA
        &emsp; Numero:&nbsp;<%= @inca_subscription.name %>
        &emsp; Del:&nbsp;<%= l(@inca_subscription.date) %>
      </strong>
    </h3>
    <hr class='hr-primary p-2'/>
  </div>
</div>
<div class='row'>
  <% if @inca_subscription.pdf.attached? %>
    <%= render 'form_cancellation', inca_subscription: @inca_subscription %>
  <% else %>
    <%= render 'form', inca_subscription: @inca_subscription %>
  <% end %>
  <br/>
  <br/>
</div>
