<div class='col-lg-12'>
  <h3 class='text-primary p-2'>
    <i class='fas fa-plus'></i>
    <i class='fas fa-receipt'></i>
    &emsp;
    <strong>
      Nuova Ricevuta Liberalit&agrave; INCA
    </strong>
  </h3>
  <hr class='hr-primary p-2'/>
  <div class='card'>
    <div class='card-body shadow'>
      <%= render 'form', inca_receipt: @inca_receipt %>
    </div>
  </div>
  <br/>
  <br/>
</div>
