// Cosmo 4.6.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Customs =====================================================================

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 4.6rem;
  background-color: $gray-50 !important;
}

.navbar-dark {
  .nav-item {
    .nav-link {
    color: $white;
    font-weight: 600;
      &:hover {
        color: $black;
        font-weight: 800;
      }
    }
  }
}

.dropdown-item {
  font-weight: 800;
    &:hover {
    background-color: $primary;
    color: $white;
    font-weight: 800;
    }
}

.shadow {
  box-shadow: 0 0 2px 0 rgba(100, 100, 100, 0.26);
}

.hr-primary {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $primary;
    margin: 1em 0;
    padding: 0; 
}

.hr-secondary {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $secondary;
  margin: 1em 0;
  padding: 0; 
}

.hr-info {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $info;
  margin: 1em 0;
  padding: 0; 
}

.hr-success {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $success;
  margin: 1em 0;
  padding: 0; 
}

.hr-warning {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $warning;
  margin: 1em 0;
  padding: 0; 
}

.hr-danger {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $danger;
  margin: 1em 0;
  padding: 0; 
}

.igp-fixed-width {
  width: 12rem;
}

.igp-fixed-width-short {
  width: 10rem;
}

.circle-g200 {
  height: 1.6rem;
  width: 1.6rem;
  background-color: $pale-gray;
  border-radius: 2%;
  display: inline-block;
  text-align: center;

  &:hover {
    background-color: white;
  }
}

.tariff-font {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

// will_paginate ===============================================================

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}