<div class='col-lg-10 offset-1'>
  <h4 class='text-primary p-2'>
    <i class='fas fa-pencil-alt'></i>
    &nbsp;
    <i class='fas fa-book'></i>
    &emsp;
    <strong>Creando una Nuova Guida</strong>
    <span class='float-right'>
      <%= link_to howtos_path, class: 'btn btn-sm btn-primary' do %>
        <i class='fas fa-arrow-left'></i>
        &nbsp;
        <i class='fas fa-book'></i>
        &emsp;
        <strong>Ritorna alla lista</strong>
      <% end %>
    </span>
  </h4>
  <hr class='hr-primary p-2'/>
  <div class='card shadow'>
    <div class='card-body'>
      <%= render 'form', howto: @howto %>
    </div>
  </div>
</div>
